@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

svg {
  display: inline;
}

.heading-1 {
  @apply text-2xl;
}

.heading-2 {
  @apply text-xl;
}

.heading-3 {
  @apply text-lg;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
