.hmsui-avatar-root {
  width: 30%;
  padding-top: 30%;
  position: relative;
}

.hmsui-avatar-root.hmsui-avatar-rootSm {
  width: 20%;
  padding-top: 20%;
}

.hmsui-avatar-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
