.hmsui-avatar-root {
  width: 33.33%;
  padding-top: 33.33%;
  min-height: 1.5rem;
  max-height: 7rem;
  position: relative;
}

.hmsui-avatar-root.hmsui-avatar-rootSm {
  width: 20%;
  padding-top: 20%;
}

.hmsui-avatar-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
