name: Create Store Update PR
on:
  workflow_dispatch:
    inputs:
      versionType:
        description: 'which version to bump eg: alpha, latest, experimental etc.'
        required: true
        default: 'alpha'

jobs:
  create_pr:
    runs-on: ubuntu-latest
    steps:
      - name: Validate branch
        if: github.ref != 'refs/heads/main'
        run: exit 1

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Configure Git user
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

      - name: Update Store and version
        id: version
        env:
          TYPE: ${{ github.event.inputs.versionType }}
        run: |
          echo $(yarn add @100mslive/hms-video-store@$TYPE --exact) 
          if [[ $TYPE='latest']]
            npm version patch --git-tag-version=false
          else
            npm version prerelease --preid=alpha --git-tag-version=false
          fi

      - uses: peter-evans/create-pull-request@v3
        with:
          commit-message: 'build: update versions for release'
          title: 'build: update store'
          branch: update-store
          branch-suffix: timestamp
          base: main
          delete-branch: true
